<%- layout("/layout/boilerplate") %>

<div class="notification is-primary">
    <button class="delete"></button>
    <h5 class="alert-heading"><%= err.message %></h5>
    <p><%= err.trace%></p>
  </div>

